.clearfix:after                   {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix                         {display:inline-block;}
.clearfix                         {display:block;}

#tp_top                           {background-color:#ccc;border:1px solid #000;padding:10px;margin-bottom:10px;}
#tp_filter_form                   {float:left;width:40%;}
#tp_pages                         {float:right;width:55%;}
#tp_pages .pagination             {float:right;margin-top:5px;}

#tp_sidebar                       {width:25%;float:left;}
#tp_sidebar div                   {background-color:#ccc;margin:5px;padding:5px;}
#tp_sidebar a                     {text-decoration:none;}
#tp_sidebar a:hover               {text-decoration:underline;}
#tp_sidebar a.filtered            {font-weight:bold;color:#2B6FB6;text-decoration:underline;}

.tp_form th                       {color:#000;font-size:108%;font-weight:bold;text-align:left;}
.tp_form td                       {padding:3px 0 3px 15px;}
#tp_view                          {}
#tp_sizes                         {}
#tp_upload input[type=text]       {width:120px;}

#tp_content                       {width:75%;float:right;}

#tp_asset_images li               {list-style:none;float:left;margin:0 10px 10px 0;border:1px solid #000;padding:5px 5px 0 5px;display:block;}
#tp_asset_images li:hover         {border:1px solid #2B6FB6;cursor:pointer;}       
#tp_asset_images .tp_asset_image  {width:100px;height:100px;display:block;}
#tp_asset_images .tp_asset_title  {text-align:center;display:block;}
#tp_asset_images a                {text-decoration:none;text-align:center;}
#tp_asset_images a:hover, #tp_asset_images li:hover a
                                  {text-decoration:underline;color:#2B6FB6;}

.flash                            {padding:5px 0 5px 25px;margin:0 100px 10px 100px;font:#003300;border:2px solid #CCC;}
.success                          {background:#FFF url(/images/admin/accept.png) no-repeat 5px 50%;}
.error                            {background:#FFF url(/images/admin/exclamation.png) no-repeat 5px 50%;}
.pagination                       {padding:5px;text-align:center;margin-top:5px;float:right;}
.pagination a, .pagination span   {padding:0.2em 0.3em;}
.pagination span.disabled         {color:#AAAAAA;}
.pagination span.current          {background:transparent url(/images/admin/circle.png) no-repeat scroll 50% 50%;font-weight:bold;}
.pagination a                     {color:black;text-decoration:none;}
.pagination a:hover, .pagination a:focus 
                                  {text-decoration:underline;}