.clearfix:after                   {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix                         {display:inline-block;}
.clearfix                         {display:block;}
#tp_body                          {margin:-10px -7px 0 -7px}
/* top */
#tp_top                           {background-color:#ccc;border-left:1px solid #0066CC;border-right:1px solid #0066CC;padding:10px 10px 0 10px;}
#tp_top_round                     {background:#ccc url(/images/admin/tiny_paper/round_corner_bottom.png) no-repeat left bottom;margin-bottom:10px;}
#tp_top_round_inside              {background:#ccc url(/images/admin/tiny_paper/round_corner_bottom.png) no-repeat right bottom;margin-left:16px;height:16px;}
#tp_top .left                     {float:left;width:30%;}
#tp_top .right                    {float:right;width:68%;}
#tp_top p                         {margin:0;padding:0;}
#tp_tb                            {background-color:#fff;border:1px solid #808080;width:147px;}
#reset                            {background:transparent url(/images/admin/tiny_paper/reset.png) no-repeat right center;
                                  padding:0 7px;outline:none;text-decoration:none;}
#tp_tb input                      {border:none;}
#tp_filter                        {margin:0;}
label                             {font-size:11px;font-weight:normal;color:#21759B;}
/* upload */
#tp_upload .tp_form               {float:right;}
#tp_upload form                   {margin:0;}
#tp_upload input[type=text]       {width:205px;}
#tp_upload .tp_form th            {text-align:right;padding-right:5px;}

/* content */
#tp_middle                        {margin-bottom:10px;padding:0 20px;}
#ddl                              {width:54%;float:right;margin-top:3px;}
#ddl div                          {float:right;margin-right:5px;}
#tp_pages                         {width:45%;float:left;}

.pagination                       {padding:3px;text-align:center;float:left;}
.pagination a, .pagination span   {padding:0.2em 0.3em;}
.pagination span.disabled         {color:#AAAAAA;}
.pagination span.current          {background:transparent url(/images/admin/tiny_paper/circle.png) no-repeat scroll 50% 50%;font-weight:bold;padding:4px;}
.pagination a:link, .pagination a:visited, .pagination a:hover, .pagination a:focus
                                  {color:#21759B;text-decoration:none;}
.pagination a:hover, .pagination a:focus
                                  {text-decoration:underline;}

/* thumbnails */
.tp_asset_images li               {list-style:none;float:left;margin:0 10px 10px 0;border:1px solid #000;padding:5px 5px 0 5px;display:block;}
.tp_asset_images li:hover         {border:1px solid #2B6FB6;}
.tp_asset_images .tp_asset_image  {width:100px;height:100px;display:block;}
.tp_asset_images .tp_asset_title  {text-align:center;display:block;}
.tp_asset_images a                {text-decoration:none;text-align:center;}
.tp_asset_images a span.tp_asset_title:hover, #tp_asset_images li:hover a span.tp_asset_title, #tp_sizes a:hover
                                  {text-decoration:underline;color:#2B6FB6;}
span.tp_image_sizes               {background-color:#FFF;position:absolute;left:140px;top:33%;display:block;
                                   border:1px solid #000;padding:10px;width:380px;min-height:150px;}
.tp_asset_images li.no_results    {font-size:13px;padding:20px 0 0 100px;border:none;}
/* text list */

table.tp_assets_list              {width:90%;margin:0 5%;}
table.tp_assets_list th           {font-size:14px;text-align:left;padding:0 10px;}
table.tp_assets_list td           {padding:0 10px;border-left:1px solid #2B6FB6;}
table.tp_assets_list td.index     {text-align:right;border-left:none;width:25px;}
table.tp_assets_list a            {text-decoration:none;text-align:center;}
table#tp_sizes tr:hover           {color:#2B6FB6;}
table#tp_sizes                    {width:90%;}
table#tp_sizes th                 {font-size:11px;text-align:right;padding:2px 5px 2px 0;width:50%;}
table#tp_sizes td                 {padding:2px 5px;width:50%;border-left:none;}
/* file browser */
#tp_tabs                          {margin:0 0 10px 0;padding:0;}
#tp_tabs li                       {list-style:none;float:left;margin-right:10px;}
#tp_tabs li a                     {text-decoration:none;width:70px;height:29px;display:block;text-indent:-9999px;outline:none;}
#tp_tabs li.selected              {background:#EEE;}
#files_link                       {background:transparent url(/images/admin/tiny_paper/files.png) no-repeat left top;}
#files_link.selected              {background:transparent url(/images/admin/tiny_paper/files_selected.png) no-repeat left top;}
#pages_link                       {background:transparent url(/images/admin/tiny_paper/pages.png) no-repeat left top;}
#pages_link.selected              {background:transparent url(/images/admin/tiny_paper/pages_selected.png) no-repeat left top;}

a.sort_asc                        {background:transparent url(/images/admin/tiny_paper/asc.gif) no-repeat right center;padding-right:17px;}
a.sort_desc                       {background:transparent url(/images/admin/tiny_paper/desc.gif) no-repeat right center;padding-right:17px;}

#tp_content_files a               {text-decoration:none;font-size:13px;}
#tp_content_files ul              {margin:0;padding:0 0 0 30px;}
#tp_content_files ul li           {margin:10px 0;border-bottom:1px solid #999;}
#tp_content_files ul li.no_bullet {list-style:none;border-bottom:none;}
table.tp_assets_list td.no_results{text-align:center;border-left:none;padding-top:20px;font-size:13px;}

.flash                            {padding:5px 0 5px 25px;margin:0 100px 10px 100px;font:#003300;border:2px solid #CCC;}
.success                          {background:#FFF url(/images/admin/tiny_paper/accept.png) no-repeat 5px 50%;}
.error                            {background:#FFF url(/images/admin/tiny_paper/exclamation.png) no-repeat 5px 50%;}