.clearfix:after                   {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix                         {display:inline-block;}
.clearfix                         {display:block;}

/* top */
#tp_top                           {background-color:#ccc;border:1px solid #000;padding:10px;margin-bottom:10px;}
#tp_top p                         {margin:0;padding:0;}
#tp_tb                            {background-color:#fff;border:1px solid #808080;width:147px;}
#reset                            {background:transparent url(/images/admin/reset.png) no-repeat right center;
                                  padding:0 7px;outline:none;text-decoration:none;}
#tp_tb input                      {border:none;}
#tp_filter                        {margin:0;}

/* sidebar */
#tp_sidebar                       {width:25%;float:left;}
#tp_sidebar div                   {background-color:#ccc;margin:5px;padding:5px;}
#tp_sidebar a                     {text-decoration:none;}
#tp_sidebar a:hover               {text-decoration:underline;}
#tp_sidebar a.filtered            {font-weight:bold;color:#2B6FB6;text-decoration:underline;}
.tp_form th                       {color:#000;font-size:108%;font-weight:bold;text-align:left;}
.tp_form td                       {padding:3px 0 3px 15px;}
#tp_upload input[type=text]       {width:120px;}

/* content */
#tp_content                       {width:73%;float:right;}
.pagination                       {padding:3px;text-align:center;float:right;}
.pagination a, .pagination span   {padding:0.2em 0.3em;}
.pagination span.disabled         {color:#AAAAAA;}
.pagination span.current          {background:transparent url(/images/admin/circle.png) no-repeat scroll 50% 50%;font-weight:bold;padding:4px;}
.pagination a                     {color:black;text-decoration:none;}
.pagination a:hover, .pagination a:focus 
                                  {text-decoration:underline;}
#sort_dv                          {width:30%;float:left;}                                  
#tp_pages                         {width:68%;float:right;}

/* thumbnails */
.tp_asset_images li               {list-style:none;float:left;margin:0 10px 10px 0;border:1px solid #000;padding:5px 5px 0 5px;display:block;}
.tp_asset_images li:hover         {border:1px solid #2B6FB6;cursor:pointer;}       
.tp_asset_images .tp_asset_image  {width:100px;height:100px;display:block;}
.tp_asset_images .tp_asset_title  {text-align:center;display:block;}
.tp_asset_images a                {text-decoration:none;text-align:center;}
.tp_asset_images a:hover, #tp_asset_images li:hover a
                                  {text-decoration:underline;color:#2B6FB6;}
/* text list */
#tp_titles_holder table           {margin-top:15px;width:100%;}
#tp_titles_holder table th        {font-size:14px;text-align:left;padding:0 5px;}
#tp_titles_holder table td        {padding:0 5px;border-left:1px solid #ccc;}
#tp_titles_holder table td.index  {text-align:right;border-left:none;width:25px;}
.flash                            {padding:5px 0 5px 25px;margin:0 100px 10px 100px;font:#003300;border:2px solid #CCC;}
.success                          {background:#FFF url(/images/admin/accept.png) no-repeat 5px 50%;}
.error                            {background:#FFF url(/images/admin/exclamation.png) no-repeat 5px 50%;}

/* file browser */
#tp_tabs                          {margin:0;padding:0;}
#tp_tabs li                       {list-style:none;float:left;padding:3px 5px;margin-left:10px;margin-bottom:5px;
                                   background:#CCC;border:1px solid #000;}
#tp_tabs li a                     {text-decoration:none;}
#tp_tabs li.selected              {background:#EEE;}

#tp_content_files a               {text-decoration:none;font-size:13px;}
#tp_content_files ul              {margin:0;padding:0 0 0 30px;}
#tp_content_files ul li           {margin:10px 0;border-bottom:1px solid #999;}
#tp_content_files ul li.no_bullet {list-style:none;border-bottom:none;}
