<ul id="tp_tabs" class="clearfix">
  <li <% if controller.action_name == 'files' %> class="selected" <% end %>><a href="<%= files_path %>">Files</a></li>
  <li <% if controller.action_name == 'pages' %> class="selected" <% end %>><a href="<%= pages_path %>">Pages</a></li>
</ul>
<div id="tp_top">
  <p>Choose a page to create a direct link to it:</p>
</div>
<div id="tp_hd">
  <div id="tp_content_files">
    <div id="tp_assets">
      <ul>
        <%= page_list (@homepage) %>
      </ul>
    </div>
  </div>
</div>
<%= hidden_field_tag(:type, 'pages') %>